html {
	overflow-y: scroll;
	scrollbar-width: none;
}

body {
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 1);
	font-size: 14px;
	font-weight: 400;
	background-color: rgba(228, 235, 245, 1);
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	display: block;
	max-width: 100px;
	width: 100%;
	margin: 0 auto;
}

.main-container {
	padding: 10px;

	.main-title {
		margin: 0px 0px 10px;
		font-size: 30px;
		font-weight: 700;
		line-height: 120%;

		text-align: center;
		color: #ff6933;
		text-shadow: 1px 1px #000;
	}

	.richy-block {
		margin: 0 auto 10px;
		text-align: center;

		text-align: center;
		color: #3347ff;
		text-shadow: 1px 1px #000;

		img {
			max-width: 300px;
			width: 100%;
			border-radius: 20px;
		}
	}

	.add-block {
		max-width: 100%;
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		border-bottom: 3px solid rgb(63, 81, 181);

		.add-distance,
		.add-gallon {
			outline: none;
			margin-bottom: 10px;
			width: calc(100% - 10px);
			padding: 5px 5px;

			font-size: 17px;
			font-weight: 500;
			line-height: 140%;

			border-radius: 10px;
			border: none;
			box-shadow: 4px 4px 10px #0000000f;

			&:focus {
				box-shadow: 4px 4px 5px #6391ce;
			}
		}

		.count-button {
			position: relative;
			top: 0;
			padding: 10px 0px;
			margin-bottom: 10px;

			border: none;
			border-radius: 10px;
			text-decoration: none;
			color: white;
			background: #3d5a80;
			cursor: pointer;

			transition: all 0.1s ease 0s;

			&:active {
				top: 4px;
				box-shadow: 0 4px 0px #293241;
			}

			&:disabled {
				background: rgb(165, 163, 163);
			}
		}
	}

	.result-block {
		margin-bottom: 80px;
		border-bottom: 3px solid rgb(63, 81, 181);

		.result {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;

			.list-item {
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;

				font-size: 18px;
				font-weight: 400;

				color: #000;

				.list-item-value {
					margin-right: 10px;
				}
				.delete-btn {
					max-width: 200px;
					width: 100%;
					padding: 10px;

					font-size: 16px;

					border: none;
					border-radius: 10px;
					color: rgb(255, 255, 255);
					background-color: #ff6933;
					cursor: pointer;
				}
			}
		}
	}

	.total {
		margin-bottom: 10px;

		color: #000;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 160%;
	}
	.clear-btn {
		position: relative;
		top: 0;
		max-width: 100%;
		width: 100%;
		padding: 10px 0px;

		border: none;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background-color: #ff6933;
		cursor: pointer;

		transition: all 0.1s ease 0s;

		&:active {
			top: 4px;
			box-shadow: 0 4px 0px #b44b24;
		}
	}

	.copy-btn {
		position: relative;
		top: 0;
		max-width: 100%;
		width: 100%;
		padding: 10px 0px;
		margin-bottom: 10px;

		border: none;
		border-radius: 10px;
		text-decoration: none;
		color: white;
		background: #3d5a80;
		cursor: pointer;

		transition: all 0.1s ease 0s;

		&:active {
			top: 4px;
			box-shadow: 0 4px 0px #293241;
		}
	}

	.date {
		font-weight: 700;
	}

	.data {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
}
